body {
    background: #202020;
    color: whitesmoke;
    font-family: sans-serif;
}

.navbar {
    background-color: #e5ff89;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: rgb(117, 117, 117);
    text-decoration: none;
}

.navbar ul li:hover {
    background-color: #c2bdbd;
}

.container {
    max-width: 1200px;

    margin: auto;
    padding: 20px 0;
}

.card {
    background: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 2px;
}