{% extends 'layouts/base.html' %} {% block content %}
<h1>About</h1>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita tempora fuga rerum, quidem
  corporis optio fugiat explicabo delectus laborum at. Recusandae voluptate tempora minus inventore
  rem cumque, corporis nulla iste sint natus omnis architecto ex odit doloremque tenetur velit ipsa
  ducimus cupiditate eum error alias totam, quo quae. Laborum officia repellat obcaecati, nemo
  dignissimos, modi vel error repudiandae cum non, quaerat aspernatur. Officiis eos exercitationem
  fugiat. Quasi nihil quaerat velit dolor! Praesentium, natus aperiam ratione ab sapiente reiciendis
  nemo dignissimos ut. Delectus cumque voluptates sit quasi quo eos nam voluptatum ab soluta
  expedita, odio alias possimus corporis fugit cum aspernatur.
</p>
<p>Webiste created by {{ username }}</p>
{% endblock %}
